# Default ignored files
/out/
/venv/
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\code\java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
